h1 {
  text-align: center;
}

body {
  margin-left: 20px;
}

.form-group {
  text-align: center;
  margin: auto;
}

.form-control {
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.message {
  text-align: center;
  font-weight: bold;
  color: red;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}
