{% extends "layout.html" %}
{% block content %}
<body>
{% if current_pending_budget < 0 %}
<div class="jumbotron">
  <img src="https://i.imgur.com/abFThbV.png" alt="WTF Gek" style="vertical-align:middle" class="img-fluid mx-auto d-block" width="400" height="400"></img>
  <span class="blinking">
    <p class="center">
      U gaat over de €400 miljoen heen (met uw huidige biedingen)!
    </p>
  </span>
</div>
{% endif %}

<h3 class="text-center">{{ header }}</h3>
<p class = "center">Hier ziet u uw huidige en bevestigde biedingen.<br><br>
  U heeft op dit moment <b>€{{ total_spent }} miljoen</b> uitgegeven, met nog <b>€{{ total_pending_spent }} miljoen</b> aan lopende biedingen.<br>
  Uw resterende budget is: <b>€{{ current_budget }} miljoen</b>, als uw lopende biedingen bevestigd worden zal dit <b>€{{ current_pending_budget }} miljoen</b> zijn.</p>
<table class="table">
  <thead>
    <tr>
    <th scope="col">Speler</th>
    <th scope="col">Bod in miljoenen</th>
    <th scope="col">Bod geplaatst op</th>
    </tr>
  </thead>
{% for row in rows %}
  <tbody>
    <tr {% if confirmed_list[loop.index - 1] == "True" %} class="table-success" {% endif %}>
      <td> {{ row.player_name }} </td>
      <td> {{ row.user_bid }} </td>
      <td> {{ row.date_bid.strftime('%d %B %Y %H:%M:%S') }} </td>
    </tr>
{% endfor %}
</table>
{% endblock %}
